<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer id="footer">
      <!-- Facebook -->
      <i class="fab fa-facebook-f fa-2x footer-brand" style="color: #3b5998;"></i>
      <!-- Twitter -->
      <i class="fab fa-twitter fa-2x footer-brand" style="color: #55acee;"></i>
      <!-- Instagram -->
      <i class="fab fa-instagram fa-2x footer-brand" style="color: #ac2bac;"></i>
      <!-- Linkedin -->
      <i class="fab fa-linkedin-in fa-2x footer-brand" style="color: #0082ca;"></i>
      <p>© Copyright Majd-Msallam-Taskify</p>

    </footer>
  </body>
</html>
