<%- include('partials/header1') %>


<div class=" centered homebg">
  <div class="container">
    <i class="fa-solid fa-list-check fa-6x"></i>
    <h1 class="display-3">Taskify</h1>
    <p class="lead">Simplify your tasks with Taskify</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<section id="features">
  <div class="row">
    <div class="col-lg-4 col-md-12 center">
      <p><i class="fa-solid fa-circle-check icon-color fa-4x "></i></p>
      <h3>Easy to use.</h3>
      <p class="features-exp ">intuitive organization, easy navigation, and efficient task management.</p>
    </div>
    <div class="col-lg-4 col-md-12 center">
      <p><i class="fa-solid fa-right-to-bracket fa-4x"></i></p>
      <h3>Fast Sign-up</h3>
      <p class="features-exp">Sign-up for our service in seconds using you google or facebook account</p>
    </div>
    <div class="col-lg-4 col-md-12 center">
      <p><i class="fa-solid fa-heart icon-color fa-4x"></i></p>
      <h3>Guaranteed to work.</h3>
      <p class="features-exp">prioritize your tasks and stay organized Allowing a better time management and increased productivity</p>
    </div>
  </div>
</section>

<div class="homebg centered">
  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">Taskify is my go-to app for managing my daily tasks. It's user-friendly interface and helpful features make it a must-have for anyone looking to stay organized.</h2>
          <img class="testimonial-image" src="images/Majd.jpg" alt="Majd-profile">
          <em>Majd, Nazareth</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">I've been using Taskify for a while now and I can't recommend it enough. It's perfect for keeping track of your to-do's and it's easy to use.</h2>
          <img class="testimonial-image" src="images/lady-img.jpg" alt="john-profile">
          <em>Lana, Chicago</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">I've tried a lot of different task management apps, but Taskify is by far my favorite. It's helped me increase my productivity and stay on top of my to-do list.</h2>
          <img class="testimonial-image" src="images/john.png" alt="john-profile">
          <em>john, New York</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>
  </div>
  <div class="">
    <section id="cta">

      <h3 class="cta-size">Don't let tasks pile up, start using Taskify now to take control of your to-do list and stay organized.</h3>
      <a class="btn btn-dark btn-lg" style="margin-top:5%;" href="/register" role="button">Register now</a>
    </section>
    <hr>
  </div>

<%- include('partials/footerHome') %>
